@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

*{
  font-family: 'Fira Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.brand-title{
  font-family: 'Bangers', cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.myBtn{
@apply px-4 py-1 bg-primary text-white rounded-md hover:bg-secondary
}

.mySecBtn{
  @apply px-4 py-1 border border-primary text-primary rounded-md hover:bg-primary hover:text-white
}

.active{
  @apply bg-transparent text-secondary font-medium
}
.default{
  @apply bg-transparent
}

.tab{
  @apply text-primary border border-primary mr-3 font-medium rounded-md mb-3
}

.activeTab{
  @apply bg-primary text-white
}

.inputField{
  @apply py-3 px-5 rounded-md outline-primary mt-5 lg:mt-0 bg-primary bg-opacity-10
}